<h3><%= @project.title %></h3>
<p>Projeto de <%= @project.user.email  %></p>
<% if @favorite %>
  <p>Contratador marcado como favorito</p>
<% end %>
<p>Descrição: <%= @project.description  %></p>
<p>Habilidades desejadas: <%= @project.skills %></p>
<p>Valor max por hora: <%= number_to_currency(@project.max_value) %></p>
<p>Data limite para candidatura: <%= I18n.l(@project.limit_date) %></p>
<p>Inicio do projeto: <%= I18n.l(@project.start_date) %></p>
<p>Previsão de término: <%=I18n.l(@project.end_date) %></p>
<br>
<% if professional_signed_in? %>
<p><%= link_to 'Marcar', user_favorite_project_path(@project.id), method: :post %> <%= @project.user.email  %> como Favorito </p>
  <% if @team %>
    <%= link_to 'Time do Projeto', team_project_path %>    
  <% end %>    
    <h3>Deseja se candidatar para este projeto?</h3>
    <p>Por favor preencha o formulário informando o que te motiva a participar do projeto,
    valor por hora de trabalho, quantas horas por semana tem disponibilidade e qual a 
    sua expectativa para este projeto.</p>

    <p><%= link_to 'Candidatar para projeto', new_project_proposal_path(@project,@user) %><p>
<% elsif user_signed_in? && @project.user == current_user %>
        <%= link_to 'Time do Projeto', team_project_path(@project.id) %>
        <%= link_to 'Encerrar inscrições', close_registration_project_path(@project.id), method: :post %>
        <%= link_to 'Encerrar Projeto', close_project_project_path(@project.id), method: :post %>
    <% @propostas.each do |prop| %>
        <h4>Proposta de <%= link_to prop.professional.profile.social_name, profile_path(prop.professional.profile) %></h4>
        <p>Motivo: <%= prop.reason %></p>
        <p>Valor/hora: <%= number_to_currency(prop.hour_value) %></p>
        <p>Horas disponíveis por semana: <%= prop.hours_week %>
        <p>Expectativa: <%= prop.expectation %></p>
        <p><% if prop.status_proposal == 'not_rated'%>
              Status: Pendente</p>
           <% elsif prop.status_proposal == 'accepted' %>
              Status: Aceita</p>
          <% elsif prop.status_proposal == 'rejected' %>
              Status: Rejeitada</p>
          <% end %>
        <%= link_to 'Aceitar proposta', accept_proposal_path(prop.id), method: :post %>
        <%= form_with url: reject_proposal_path(prop.id), method: :post do |f| %>
            <%= f.label :justify, "Feedback" %>
            <%= f.text_field :justify %>
            <%= f.submit "Rejeitar proposta" %>
        <% end %>
    <% end %>
<% end %>